@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(240 10% 10%);
  --foreground: hsl(0 0% 95%);
  --card: hsl(240 8% 14%);
  --card-foreground: var(--foreground);
  --primary: #7438eb;
  --accent: #9f7aea;
  --primary-foreground: var(--foreground);
  --secondary: hsl(240 6% 22%);
  --secondary-foreground: var(--foreground);
  --border: hsl(240 8% 25%);
  --input: hsl(240 8% 25%);
  --muted: hsl(240 5% 70%);
  --muted-foreground: var(--muted);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  overscroll-behavior: none;
}
